<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ title }} — audrey.feldroy.com</title>
    <meta name="description" content="{{ description }}" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lora:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        {{ pygments_css|safe }}
    </style>
</head>
<body>
    <div class="container article-container">
        <header class="masthead">
            <div class="mastbrand">
                <div class="title"><a href="/">audrey.feldroy.com</a></div>
            </div>
            <nav class="sections">
                <div class="theme-switch-wrapper">
                    <label class="theme-switch" for="checkbox">
                        <input type="checkbox" id="checkbox" class="visually-hidden" />
                        <span class="visually-hidden">Toggle dark mode</span>
                        <div class="slider round"></div>
                    </label>
                </div>
            </nav>
        </header>

        <main>
            <article>
                <header class="article-header">
                    <h1>{{ title }}</h1>
                    <div class="byline">By Audrey M. Roy Greenfeld • {{ meta }}</div>
                </header>
                <section class="article-content">
                    {{ content|safe }}
                </section>
            </article>
        </main>

        <footer>
            Thanks for visiting my playground • © <a href="https://audrey.feldroy.com/">audrey.feldroy.com</a>
        </footer>
    </div>
    <script>
        const checkbox = document.getElementById('checkbox');
        const html = document.documentElement;

        checkbox.addEventListener('change', function() {
            if(this.checked) {
                html.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark');
            } else {
                html.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light');
            }
        });

        const currentTheme = localStorage.getItem('theme');
        if(currentTheme) {
            html.setAttribute('data-theme', currentTheme);
            if(currentTheme === 'dark') {
                checkbox.checked = true;
            }
        }
    </script>
</body>
</html>